<div class="flex justify-between items-center mb-6">
  <div class="flex items-center">
    <h4 class="font-bold text-2xl">Manage Patients</h4>
    <input type="text" placeholder="Search..." class="ml-4 px-3 py-2 rounded-md border border-gray-300 focus:outline-none focus:border-blue-500">
  </div>
  <button type="button" (click)="openModel()"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none font-medium rounded-full px-6 py-3 text-center mb-2 ">Add
    Patient</button>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <caption
      class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
      Manage Patient
    </caption>
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          First Name
        </th>
        <th scope="col" class="px-6 py-3">
          Last Name
        </th>
        <th scope="col" class="px-6 py-3">
          Phone No
        </th>
        <th scope="col" class="px-6 py-3">
          Date of Birth
        </th>
        <th scope="col" class="px-6 py-3">
          Address
        </th>
        <th scope="col" class="px-6 py-3">
          State
        </th>
        <th scope="col" class="px-6 py-3">
          Suburb
        </th>
        <th scope="col" class="px-6 py-3">
          Post Code
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      @for (item of Patients; track $index) {
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          {{item.firstName}}
        </th>
        <td class="px-6 py-4">
          {{item.lastName}}
        </td>
        <td class="px-6 py-4">
          {{item.phoneNo}}
        </td>
        <td class="px-6 py-4">
          {{item.dob}}
        </td>
        
        <td class="px-6 py-4">
          {{item.address}}
        </td>
        <td class="px-6 py-4">
          {{item.state}}
        </td>
        <td class="px-6 py-4">
          {{item.suburb}}
        </td>
        <td class="px-6 py-4">
          {{item.postCode}}
        </td>
        
        <td class="px-6 py-4 text-right">
          <button type="button" (click)="item.id && loadPatient(item)"
            class="font-medium text-blue-600 dark:text-blue-500 hover:underline mr-4">Edit</button>
          <button type="button" (click)="item.id && deletePatient(item.id)"
            class="font-medium text-red-600 dark:text-red-500 hover:underline">Delete</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<div class="mt-4">
  <ul class="flex justify-center">
    <li class="mr-2">
      <button (click)="previousPage()"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </li>
    <li class="mr-2">
      <button (click)="nextPage()"
        class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10l-3.293-3.293a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd" />
        </svg>
      </button>
    </li>
  </ul>
</div>


<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
  <app-patient-form (onCloseModel)="closeModel()" [data]="Patient"></app-patient-form>
</app-model>